

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
font-family: 'Chivo', sans-serif;
}

body {
background: linear-gradient(270deg, #fdfdfd, #000000, #eae9dd);
background-size: 600% 600%;

animation: AnimationName 40s ease infinite;

}

@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

img{
    display: none
}

p.one:hover + img{
    display: block;
}

p.two:hover + img{
    display: block;
}

#sideimg {
    position: fixed;
    top:  3%;
    right: 3%;
    bottom: 3%;
   height: 90%;

}



.logo {
    display: inline;
    position: fixed;
    top: 4%;
    padding-left: 30px;
    width: 167px;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 50px;
    transition: 0.4s;
}


div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}



h1 {
    font-size: 27px;
    padding-left: 30px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin: 0;
    color: black;
}

p {
    font-size: 27px;
    padding-left: 20px;
    padding-right: 10px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 130%;
    color: black;
   cursor: e-resize;
}

a {
    font-size: 27px;
    padding-left: 20px;
    padding-right: 10px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 130%;
    color: black;
}

p:hover {
    text-decoration: overline;
    color: black;
}


.grid {
    margin: 0 auto;
    width: 100%;
    height: 90%;
    max-height: 600px;
    max-width: 1400px;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
    margin-top: 10px;
    max-height: 600px;

}
.loc-3 {
    width: 25%;
    margin-top: 10px;
    max-height: 600px;
}

.col-4 {
    width: 33.33%;
}
.loc-5 {
    width: 41.66%;
    max-height: 700px;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}

a:active {
    text-decoration: underline;
    color: black;
}

.mobile-image {display: none;}
@media screen and (max-width:700px) {
    .mobile-image {display: block;
position: fixed;
top: 2%;
right: 2%
left: 2%;
bottom: 2%;
max-width: 500px;
    }






